*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 30px;
    background-color: gold;
    text-align: center;
    box-shadow: 1px 3px 6px rgb(0, 0, 0, 0.3);
}

header h1 {
    font-size: 5rem;
}

main h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2rem;
}

.container {
    margin: 0 auto;
    width: 1800px;
    border: 1px solid red;
    text-align: center;
}

.btns {
    margin-left: 11%;
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
}

button {
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    border-radius: 100vw;
    padding: 10px 15px;
    background-color: lightblue;
}

button:active {
    transform: scale(0.95);
}


.grid-container {
    display: flex;
    gap: 200px;
}

.grid {
    width: 800px;
    height: 800px;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.square{
    border: 1px solid black;
}

.ship {
    background-color: blue;
}

.hoverable:hover {
    cursor: pointer;
    background-color: salmon;
}

.placingValid {
    background-color: blue;
    cursor: pointer;
}

.placingInvalid {
    background-color: red;
    cursor: not-allowed;
}

#humanGrid .hit {
    background-color: red;
}

#humanGrid .miss {
    background-color: gray;
}

#botGrid .hit {
    background-color: green;
}

#botGrid .miss {
    background-color: gray;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    background-color: slategray;
    text-align: center;
    box-shadow: 1px 3px 6px rgb(0, 0, 0, 0.3);
}