*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

header {
    padding: 30px;
    background-color: #a2e4b8;
    text-align: center;
    box-shadow: 1px 3px 6px rgb(0, 0, 0, 0.3);
}

header h1 {
    font-size: 5rem;
    color: black;
}

main h2 {
    margin-top: 45px;
    margin-bottom: 15px;
    font-size: 2rem;
}

.container {
    margin: 0 auto;
    max-width: 1800px;
    padding: 0px 25px;
    text-align: center;
}

.btns {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    font-family: Roboto;
    font-size: 1.15rem;
    cursor: pointer;
    border: 0;
    border-radius: 100vw;
    padding: 10px 15px;
    background-color: #a2e4b8;
}

button:active {
    transform: scale(0.95);
}

.grid-container {
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

.grid {
    width: 50%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.square {
    border: 1px solid black;
}

.ship {
    background-color: blue;
}

.hoverable:hover {
    cursor: pointer;
    background-color: salmon;
}

.placingValid {
    background-color: blue;
    cursor: pointer;
}

.placingInvalid {
    background-color: red;
    cursor: not-allowed;
}

#humanGrid .hit {
    background-color: red;
}

#humanGrid .miss {
    background-color: gray;
}

#botGrid .hit {
    background-color: green;
}

#botGrid .miss {
    background-color: gray;
}

footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    color: white;
    letter-spacing: 0.2ch;
    background-color: slategray;
    text-align: center;
    box-shadow: 1px 3px 6px rgb(0, 0, 0, 0.3);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a > .github {
    font-size: 42px;
}

a > .github:hover {
    transform: rotate(360deg);
    transition: all 0.7s;
    cursor: pointer;
}

a > .github:active {
    transform: scale(1.1);
    transition: all 0.05s;
    cursor: pointer;
}

@media only screen and (max-width: 1920px) {
    .grid {
        width: 40%;
    }
    body {
        background-color: red;
      }
    
}

@media only screen and (max-width: 740px) {
    body {
      background-color: lightblue;
      height: 100vh
    }

    header {
        padding: 10px;
    }

    header h1 {
        font-size: 2rem;
    }

    main h2 {
        margin-top: 15px;
        font-size: 1.5rem;
    }

    .btns {
        width: 100%;
    }

    button {
        font-size: 0.8rem;
    }

    .grid-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vw;
    }

    .grid {
        width: 75%;
    }

    #botGrid {
        margin-bottom: 50px;
    }

    footer {
        position: fixed;
        margin-top: 15px;
        font-size: 0.75rem;
        padding: 10px;
        margin-bottom: 0;
    }

  }